<app-navigation></app-navigation>
<div class="logo-container">
    <img class="logo" alt="Helpr logo" src="../../../assets/helpr_logo.svg"/>
    <h1>{{ 'branding.helpr' | translate }}</h1>
    <p>{{ 'branding.helprDescription' | translate }}</p>
    <a class="add-to slack" href="{{ botUrl$ | async }}">
        <img src="../../../assets/slack-logo.svg" alt="{{ 'actions.addTo' | translate: { platform: 'Slack' } }}"/>
        {{ 'actions.addTo' | translate: { platform: 'Slack' } }}
    </a>
</div>
<span class="creators" [innerHTML]="'branding.creators' | translate"></span>
<span class="background-copyright">{{ 'copyright.svgbackgrounds' | translate }}</span>
